body {
  background-color: #04a6eb;
  color: #fdffff;
  /*横幅を500pxに設定*/
  width: 500px;
  /*autoは中央寄りになる*/
  margin-right: auto;
  margin-left: auto;
}
button{
  padding: 5px 20px;/*上下　左右*/
  background-color: #377ab7;
  border-style: none;
  color: #fdffff;
}
input{
  height: 20px;
}